
#plot {
    margin-top: 30px;
}
.control-panel {
    margin-top: 30px;
}

.table-responsive {
    max-height: 300px;
    overflow-y: auto;
}



.highlighted-row {
    background-color: #f0f0f0;
}

#datagrid-table {
    table-layout: auto;
}

#datagrid-table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 101;
}

#datagrid-table td {
    height: 10px;
    vertical-align: middle;
}


#feature-list {
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 10px;
    margin-right: 25px;
    width: 50%;
}

.list-group-item.active {
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
}

#feature-list .list-group-item {
    padding: 5px 15px;
    margin-bottom: 2px;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    position: relative;
}

/* The Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}



  .container_parameter {
    display: flex;
    justify-content: start;
    gap: 10px; /* Adjust the space between each input field */
  }
  .field {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  input[type="number"] {
    width: 45px; /* Makes the input fields smaller */
    height: 20px; /* Adjust height as needed */
  }
  label {
    margin-bottom: 5px;
  }